@model BL.Producto
@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Producto</h2>
            <h5>Ingrese los datos del producto</h5>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("Form", "Producto", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
        <div class="form-horizontal">

            <div class="form-group">
                <div class="col-md-3">
                    @Html.LabelFor(model => model.IdProducto, new { @class = "hidden" })
                    @Html.TextBoxFor(model => model.IdProducto, new { @class = "hidden form-control", autocomplete = "off" })
                    @Html.ValidationMessageFor(model => model.IdProducto)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-3">
                    @Html.LabelFor(model => model.Nombre)
                    @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control", @id = "txtNombre" })
                    @Html.ValidationMessageFor(model => model.Nombre)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-3">
                    @Html.LabelFor(model => model.Descripcion)
                    @Html.TextBoxFor(model => model.Descripcion, "{0:#.#}", new { @class = "form-control", @id = "txtDescripcion" })
                    @Html.ValidationMessageFor(model => model.Descripcion)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-3">
                    @Html.LabelFor(model => model.Precio)
                    @Html.TextBoxFor(model => model.Precio, "{0:#.#}", new { @class = "form-control", @id = "txtPrecio" })
                    @Html.ValidationMessageFor(model => model.Precio)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-3">
                    @Html.LabelFor(model => model.Stock)
                    @Html.TextBoxFor(model => model.Stock, "{0:#.#}", new { @class = "form-control", @id = "txtStock" })
                    @Html.ValidationMessageFor(model => model.Stock)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-3">
                    @Html.LabelFor(model => model.CodigoBarras)
                    @Html.TextBoxFor(model => model.CodigoBarras, "{0:#.#}", new { @class = "form-control", @id = "txtCodigoBarras" })
                    @Html.ValidationMessageFor(model => model.CodigoBarras)
                </div>
            </div>

            @*<div class="form-group">
                <div class="col-md-3">
                    @Html.LabelFor(model => model.Imagen)
                    @Html.TextBoxFor(model => model.Imagen, "{0:#.#}", new { @class = "form-control", @id = "txtCodigoBarras" })
                    @Html.ValidationMessageFor(model => model.Imagen)
                </div>
            </div>*@

            <div class="form-group">
                <div class="col-md-3">
                    @Html.LabelFor(model => model.Imagen)
                    <input type="file" name="ImagenData" onchange="readURL(this);">
                    @if (Model.Imagen != null)
                    {
                        <img id="ImagenPreview" src="data:image/jpg;base64,@Convert.ToBase64String(Model.Imagen)" width="100" height="100" />
                    }
                    else
                    {
                        <img id="ImagenPreview" src="~/Images/Sinimagen.jpg" style=" height:150px; width:150px;" />
                    }

                    @Html.ValidationMessageFor(model => model.Imagen)
                </div>

            </div>

            @Html.HiddenFor(model => model.Imagen)

            <div class="form-group">
                <div class="col-md-3">
                    <input type="submit" value="Guardar" class="btn btn-success" />
                    @Html.ActionLink("Regresar", "GetAll", "Producto", htmlAttributes: new { @class = "btn btn-danger" })
                </div>
            </div>
        </div>
        }
    </div>
</div>